<section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              <%@order_items.each do | item| %>
                                <%prod = Product.where(id: item.product_id).first%>
                                <%if prod.quantity < item.quantity%>
                                  <%item.quantity = prod.quantity%>
                                  <%item.save%>
                                <%end%>
                                <tr>
                                    <td class="cart__product__item">
                                        <%= link_to image_tag(prod.photos.first, height: 150,width: 150, class: 'img' ), prod%>
                                        <div class="cart__product__item__title">
                                            <h6><%= prod.title %></h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ <%= prod.price.to_f %></td>
                                    <td class="cart__quantity">
                                          <%=item.quantity%>
                                    </td>
                                    <td class="cart__total">$ <%=item.total_price %>$</td>

                                </tr>
                            <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/products">Continue Shopping</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <%price = @order.total_price%>
                <% coupen = Coupen.find_by(id: @order.coupen_id)%>
                <%total_price = price%>
                <%session[:total_price] = total_price%>
                <%discount = 0%>
                <div class="col-lg-6">
                  <%=link_to "BACK", orders_path,method: :get, class: "primary-btn"%>
                </div>
                <%if coupen%>
                  <%discount = coupen.discount%>
                  <%total_price = @cart.discount_price(price)%>
                  <%session[:total_price] = total_price%>
                <%end%>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Order total</h6>
                        <ul>
                            <li>Subtotal <span>$ <%=price%></span></li>
                            <li>Discount <span>% <%=discount%></span></li>
                            <li>Total <span>$ <%=total_price%></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
