<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.where(id: @order.user_id).first %>
</p>

<p>
  <strong>Coupen:</strong>
  <%= @order.coupen_id %>
</p>

<p>
  <strong>Checkout date:</strong>
  <%= @order.created_at %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
