                  <%if coupen%>
                    <% if coupen.expirey > DateTime.now %>
                      <%session[:discount] = coupen.discount%>
                    <%else%>
                      <%session[:discount] = 0%>
                    <%end%>
                    <%total_price = current_cart.discount_price(price)%>
                    <%session[:total_price] = total_price%>
                      <div class="discount__content">
                          <h6>Coupen Code</h6>
                          <p><%=coupen.coupen_code%></p>
                          <div class="row">
                            <%= link_to "remove coupen", remove_coupen_cart_path(current_cart),remote: true, method: :patch,class: "primary-btn" %>
                          </div>
                      </div>
                  <%else%>
                        <div class="discount__content">
                            <h6>Discount codes</h6>
                            <div class="row">
                            <%=form_with(model: current_cart, class: "form-inline") do |f|%>
                                <%=f.text_field :code, placeholder: "Enter your coupon code" %>
                                <%=f.submit "Apply" ,class:"site-btn", remote: true%>
                            <%end%>
                            </div>
                        </div>

                  <%end%>
