<div class='breadcrumbs'>
  <div class='inner'>
    <ul class='cf'>
      <li>
        <%= link_to raw("<span>1</span><span>Home</span>"), root_path%>
      </li>
      <li>
        <%= link_to raw("<span>2</span><span>My Products</span>"), user_products_products_path,class: ''%>
      </li>
      <li>
        <%= link_to raw("<span>3</span><span>My Orders</span>"), orders_path,class: ''%>
      </li>
      <li>
        <a class="active"><span>4</span><span>My Cart</span> </a>
      </li>
    </ul>
  </div>
</div>
<section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              <%@line_items.each do | line_item| %>
                                <%prod = line_item.product%>
                                <%unless prod.quantity.zero?%>
                                <tr>
                                    <td class="cart__product__item">
                                        <%= link_to image_tag(prod.photos.first, height: 150,width: 150, class: 'img' ), prod%>
                                        <div class="cart__product__item__title">
                                            <h6><%= prod.title %></h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ <%= prod.price.to_f %></td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                          <%=form_for line_item do |f|%>
                                            <%=f.number_field :quantity , min: 1,max: prod.quantity %>
                                        </div>
                                        <div class= "row">
                                          <%=f.submit 'UPDATE CART', class: "btn btn-light"%>
                                        </div>
                                            <%end%>
                                    </td>
                                    <td class="cart__total">$ <%=line_item.total_price %></td>

                                    <td class="cart__close"><%= link_to raw("<span class='fa fa-times'></span>"), line_item_path(line_item),method: :delete, date: { confirm: "are you sure?" } %></td>
                                </tr>
                                <%end%>
                            <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/products">Continue Shopping</a>
                    </div>
                </div>
            </div>
              <%unless @line_items.count.zero?%>
              <div class="row">
                  <% price = current_cart.total_price %>
                  <% coupen = Coupen.find_by(id: current_cart.coupen_id)%>
                  <%total_price = price%>
                  <%session[:total_price] = total_price%>
                  <%discount = 0%>
                  <%if coupen%>
                    <% if coupen.expirey > DateTime.now %>
                      <%discount = coupen.discount%>
                    <%else%>
                      <%discount = 0%>
                    <%end%>
                    <%total_price = current_cart.discount_price(price)%>
                    <%session[:total_price] = total_price%>
                    <div class="col-lg-6">
                      <div class="discount__content">
                          <h6>Coupen Code</h6>
                          <p><%=coupen.coupen_code%></p>
                          <div class="row">
                            <%= link_to "remove coupen", remove_coupen_cart_path(current_cart), method: :patch,class: "primary-btn" %>
                          </div>
                      </div>
                    </div>
                  <%else%>
                    <div class="col-lg-6">
                        <div class="discount__content">
                            <h6>Discount codes</h6>
                            <div class="row">
                            <%=form_with(model: current_cart, class: "form-inline") do |f|%>
                                <%=f.text_field :code, placeholder: "Enter your coupon code" %>
                                <%=f.submit "Apply" ,class:"site-btn "%>
                            <%end%>
                            </div>
                        </div>
                    </div>
                  <%end%>
                  <div class="col-lg-4 offset-lg-2">
                      <div class="cart__total__procced">
                          <h6>Cart total</h6>
                          <ul>
                              <li>Subtotal <span>$ <%=price%></span></li>
                              <li>Discount <span>% <%=discount%></span></li>
                              <li>Total <span>$ <%=total_price%></span></li>
                          </ul>
                          <%= link_to 'Proceed to checkout', new_charge_path, method: :get, class:"primary-btn" %>
                      </div>
                  </div>
              </div>
            <%end%>
        </div>
    </section>

