<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

  <div class="navbar-header waves-effect">
      <a class="fa fa-home nav-link waves-effect" href="/products">SHOPING-101</a>
  </div>

  <div class="collapse navbar-collapse" id="basicExampleNav1">
    <ul class="navbar-nav ml-auto">
      <%if current_user%>
            <li class="nav-item"><%=link_to current_user.name.split[0].capitalize , edit_user_registration_path(current_user.id) ,class: "fa fa-user-circle fa-lg nav-link waves-effect" %> </li>
            <li class="nav-item"><%=link_to 'Log out', destroy_user_session_path, method: :delete ,class: "fa fa-sign-out fa-lg nav-link waves-effect" %> </li>

      <%else%>
            <li class="nav-item"><%=link_to :Log_in, new_user_session_path, class: "fa fa-user fa-lg nav-link waves-effect" %> </li>
            <li class="nav-item"><%=link_to :sign_up, new_user_registration_path, class: "fa fa-user-plus fa-lg nav-link waves-effect" %> </li>
      <%end%>
      <li class="nav-item"><%=link_to "cart", cart_path, class: "fa fa-shopping-cart fa-lg nav-link waves-effect" %> </li>
    </ul>

  </div>

</nav>
