<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

  <div class="navbar-header waves-effect">
      <a class="fa fa-home nav-link waves-effect" href="/products">SHOPING-101</a>
  </div>
  <%=form_tag products_path, class:"form-inline",method: :get do %>
    <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2",placeholder: 'search'%>
    <%= submit_tag "Search", name: nil,  class: "btn btn-success"%>
  </form>
  <%end%>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a href="#contact-us", class= "fa fa-id-card  nav-link waves-effect" > contact us</a></li>
      <li class="nav-item"><a href="#about", class= "fa fa-info-circle nav-link waves-effect" > about us</a></li>

      <%if current_user%>
        <li class="nav-item"><%=link_to current_user.name.split[0].capitalize , edit_user_registration_path(current_user.id) ,class: "fa fa-user-circle fa-lg nav-link waves-effect" %> </li>
        <li class="nav-item"><%=link_to 'Log out', destroy_user_session_path, method: :delete ,class: "fa fa-sign-out fa-lg nav-link waves-effect" %> </li>

      <%else%>
        <li class="nav-item"><%=link_to :Log_in, new_user_session_path, class: "fa fa-user fa-lg nav-link waves-effect" %> </li>
        <li class="nav-item"><%=link_to :sign_up, new_user_registration_path, class: "fa fa-user-plus fa-lg nav-link waves-effect" %> </li>
      <%end%>
      <li class="nav-item"><%=link_to "cart", cart_path, class: "fa fa-shopping-cart fa-lg nav-link waves-effect" %> </li>
    </ul>

  </div>

</nav>
