<h1>Products</h1>

<%=render 'header/navbar' %>

<table class="table">
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Title</th>
      <th>Description</th>
      <th>photo</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%cart= Cart.find(session[:cart_id].to_i)%>
    <% @products.each do |product| %>
      <%if cart.line_items.exists?(product_id: product.id)%>
        <%quant=product.quantity- cart.line_items.where("product_id= #{product.id}").first.quantity %>
      <%else%>
        <%quant=product.quantity %>
      <%end%>
      <%if !quant.zero?%>
        <tr>
          <td><%= Product.joins(:user).select('users.name as name').where("products.id = #{product.id}").first.name %></td>
          <td><%= product.title %></td>
          <td><%= product.description %></td>
          <%if product.photos.first%>
          <td><%= image_tag(product.photos.first, height: 50, class: 'img' )%></td>
          <%else%>
          <td><img src='default.jpg' class= 'img'></td>
          <%end%>
          <td><%= product.price.to_s %></td>
          <td><%= link_to 'Show', product,class: "btn btn-primary btn-sm" %></td>
          <%if current_user && current_user.products.exists?(product.id)%>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%else%>
              <%=form_for cart.line_items.new do |form|%>
              <%=form.hidden_field :product_id, value: product.id%>

              <td><%=form.number_field :quantity,class: "form-control" ,value: 1, min: 1, max: quant%></td>
              <td><%=form.submit "Add to cart",class: "btn btn-primary btn-sm"%></td>
              <%end%>
          <%end%>
        </tr>
      <%end%>

    <% end %>
  </tbody>
</table>
<br>
<%if current_user%>
  <%= link_to 'Upload A Product', new_product_path %>
<%else%>
  <h3><%=link_to :'login here to create post', new_user_session_path %></h3>
<%end%>
