<div class='breadcrumbs'>
  <div class='inner'>
    <ul class='cf'>
      <li>
        <%= link_to raw("<span>1</span><span>Home</span>"), root_path,class: 'active'%>
      </li>
      <li>
        <%= link_to raw("<span>2</span><span>My Products</span>"), user_products_products_path,class: ''%>
      </li>
      <li>
        <%= link_to raw("<span>3</span><span>My Orders</span>"), orders_path,class: ''%>
      </li>
      <li>
        <%= link_to raw("<span>4</span><span>My Cart</span>"), cart_path,class: ''%>
      </li>
    </ul>
  </div>
</div>



  <section class="shop spad">
        <div class="container">
          <%unless @products.blank?%>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                      <% @products.each do |product| %>
                        <%if current_cart.line_items.exists?(product_id: product.id)%>
                          <%quant=product.quantity- current_cart.line_items.find_by(product_id: product.id).quantity %>
                        <%else%>
                          <%quant=product.quantity %>
                        <%end%>

                          <div class="col-lg-3 col-md-4">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg= ''>
                                    <%= link_to image_tag(product.photos.first, height: 400, class: 'img' ), product%>
                                    <ul class="product__hover">
                                        <li><span><%= link_to raw("<span class='fa fa-eye'></span>"),product%></span></li>
                                        <%if current_user && current_user.products.exists?(product.id)%>
                                          <li><span><%= link_to raw("<span class='fa fa-trash'></span>"),product, method: :delete, data: { confirm: 'Are you sure?' }%></span></li>
                                          <li><span><%= link_to raw("<span class='fa fa-edit'></span>"),edit_product_path(product)%></span></li>
                                        <%elsif !quant.zero?%>
                                          <%ActionController::Parameters.permit_all_parameters = true%>
                                          <%pr = ActionController::Parameters.new({product_id: product.id, quantity: 1 })%>
                                          <li><span><%= link_to raw("<span class='fa fa-shopping-cart'></span>"), line_items_path(line_item: pr),method: :post%></span></li>
                                        <%end%>
                                    </ul>
                                </div>

                                <div class="product__item__text">
                                    <h6><%= link_to product.title, product%></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">$ <%=product.price.to_f%></div>

                                </div>
                            </div>
                          </div>
                      <% end %>
                      <div class="col-lg-12 text-center">
                            <div class="pagination__option">
                                <%if @page > 0%>
                                  <%= link_to "", products_path(search: params[:search], page: @page-1),class:"fa fa-angle-left"%>
                                <%end%>
                                <%= link_to @page+1, products_path(page: @page)%>
                                <%if @page+1 < @page_count%>
                                  <%= link_to "", products_path(search: params[:search], page: @page+1),class:"fa fa-angle-right"%>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          <%end%>
          <%= link_to 'Upload A Product', new_product_path, class: "primary-btn float-right" %>
        </div>

    </section>





