<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>User:</strong>
  <%= @name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<div class="container">
    <%@product.photos.each do |photo|%>
      <%= image_tag(photo.variant(resize: '300x300').processed )%>
      <%= link_to 'Remove', delete_image_product_path({img_id: photo.id}),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    <%end%>
</div>
<br>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
