<%if !current_user || current_user.id != @product.user_id%>
  <div class="float-right">
    <%cart = Cart.find(session[:cart_id].to_i)%>
    <%if cart.line_items.exists?(product_id: @product.id)%>
      <%quant = @product.quantity- cart.line_items.find_by(product_id: @product.id).quantity %>
    <%else%>
      <%quant = @product.quantity %>
    <%end%>
    <%=form_for cart.line_items.new,html: {class: 'form form-inline'} do |form|%>
      <%=form.hidden_field :product_id, value: @product.id%>
      <%=form.number_field :quantity,class: 'form-control' ,value: 1, min: 1, max: quant%>
      <%=form.submit "Add to cart",class: "btn btn-primary"%>
    <%end%>
  </div>
<%end%>
<div class="container">

<p>
  <strong>Supplier:</strong>
  <%= Product.joins(:user).select('products.id, users.name as name').where("products.id = #{params[:id]}").first.name %>
</p>
</div>

<div class="container">

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
</div>

<div class="container">
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
</div>
<div class="container">
<p>
  <strong>Price:</strong>
  <%= @product.price.to_s %>
</p>
</div>
<div class="container">
<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

</div>
<%flag = current_user && current_user.products.exists?(@product.id)%>
<div class="container">
    <h2><strong>photos</strong></h2>
    <%@product.photos.each do |photo|%>
      <%= image_tag(photo.variant(resize: '300x300').processed, class: 'img-thumbnail' )%>
      <%if flag %>
      <%= link_to 'Remove', delete_image_product_path({img_id: photo.id}),class: 'btn btn-danger',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      <%end%>
    <%end%>
</div>
<br>
<div class="container">
<%if flag %>
<%= link_to 'Edit', edit_product_path(@product),class: 'btn btn-primary' %>
<%end%>
<%= link_to 'Back', request.referer, class: 'btn btn-primary'%>
</div>

<div id="comments" class= "container">
  <h3 id="comments_count"  class="comments_title">
    <%= @comments.count %> Comments
  </h3>
  <%= render @comments %>
</div>
<div class="container">
  <%if current_user && current_user.id != @product.user_id %>
    <%= form_for [@product, @product.comments.new], remote: true do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <br>
      <%= f.submit "Add Comment" ,class: "btn btn-primary float-right" %>
    <% end %>

  <%elsif !current_user %>
    <h3><%=link_to 'login first to add comment', new_user_session_path, class: "btn btn-primary float-right" %></h3>
  <%end%>
</div>
