<div class="container">
<p>
  <strong>Supplier:</strong>
  <%= Product.joins(:user).select('products.id, users.name as name').where("products.id = #{params[:id]}").first.name %>
</p>
</div>

<div class="container">

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
</div>

<div class="container">
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
</div>

<div class="container">
<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>
</div>
<%flag = current_user && current_user.products.exists?(@product.id)%>
<div class="container">
    <%@product.photos.each do |photo|%>
      <%= image_tag(photo.variant(resize: '300x300').processed, class: 'img-thumbnail' )%>
      <%if flag %>
      <%= link_to 'Remove', delete_image_product_path({img_id: photo.id}),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      <%end%>
    <%end%>
</div>
<br>
<%if flag %>
<div class="container">
<%= link_to 'Edit', edit_product_path(@product) %> |
<%end%>
<%= link_to 'Back', products_path %>
</div>
<h3 class="comments_title">
  <%= @comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @comments %>
</div>
<%if current_user%>
  <%= simple_form_for [@product, Comment.new]  do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
  <%else %>
  <h3><%=link_to :'login first to add comment', new_user_session_path %></h3>
<%end%>

