<%=render 'header/navbar' %>
<h1>Reciept</h1>

<table class="table">
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Title</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Net Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%@line_items.each do |product| %>
      <tr>
        <td><%= Product.joins(:user).select('users.name as name').where("products.id = #{product.product_id}").first.name %></td>
        <%prod=Product.where(id: product.product_id).first%>
        <td><%= prod.title %></td>
        <td><%= prod.description %></td>

        <td><%=product.quantity%></td>
        <td><%= product.total_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%price=@cart.total_price%>
<h2>Total Price: <%=price%>$</h2>
<%if @cart.coupen_id%>
  <% coupen=Coupen.find_by(id: @cart.coupen_id)%>
  <%if coupen%>
    <h2>Discount <%=coupen.discount%>%</h2>
    <h2>Net Price: <%=@cart.discount_price(price)%>$</h2>
    <%session[:total_price]=@cart.discount_price(price)%>
  <%else%>
    <h2>Discount 0%</h2>
    <h2>Net Price: <%=@cart.total_price%>$</h2>
    <%session[:total_price]=@cart.total_price%>
  <%end%>
<%end%>

<%if !@cart.coupen_id%>
  <%=form_for @cart do |f|%>
    <%=f.label "Have a coupen?"%>

    <%=f.number_field :coupen_id%>
    <%=f.submit "Add coupen"%>
  <%end%>
<%end%>
<%= button_to 'Confirm', new_charge_path, method: :get %>


