<!DOCTYPE html>
<html>
  <head>
    <title>DemoProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY%>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>




    <%= yield %>
  </body>
</html>
